<div id="formsG">
<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @pool.game %>
</p>

<p>
  <b>Amount:</b>
  <%= @pool.amount %>
</p>

<p>
  <b>Game Day:</b>
  <%= @pool.gameday %>
</p>

</div>

  <div id="submit">
<%= link_to 'Game Page', pools_path %>

</div>